@import "tailwindcss";

:root {
  --background: #f2f2f2;
  --primaryBlue: #2f80ed;
  --secondaryBlue: #286ec9;
  --tertiaryBlue: #1f58a1;
  --primaryGray: #828282;
  --secondaryGray: #4f4f4f;
  --tertiaryGray: #f2f2f2;
  --primaryBlack: #333333;
  --skeletonColor: var(--color-gray-200);
  color-scheme: light;
}

:root[data-theme="dark"] {
  --background: #121212;
  --skeletonColor: var(--color-gray-700);
  color-scheme: dark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  --color-background: var(--background);
  --color-primaryBlack: var(--primaryBlack);
  --color-primaryBlue: var(--primaryBlue);
  --color-secondaryBlue: var(--secondaryBlue);
  --color-tertiaryBlue: var(--tertiaryBlue);
  --color-primaryGray: var(--primaryGray);
  --color-secondaryGray: var(--secondaryGray);
  --color-tertiaryGray: var(--tertiaryGray);
  --color-skeletonColor: var(--skeletonColor);
  --font-poppins: var(--font-poppins), "sans-serif";
  --font-noto-sans: var(--font-noto-sans), "sans-serif";
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
